[Unit]
Description=Headless sync of DN42 Bird Config Kit
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
ExecStartPre=/usr/bin/chmod +x /etc/bird/kit/auto_pull.sh
ExecStart=/etc/bird/kit/auto_pull.sh

[Install]
WantedBy=multi-user.target
